<h1>Add a new restaurant</h1>

<%= render 'form' %>

<div class="custom-link-to">
  <%= link_to restaurants_path do %>
    <i class="fa-solid fa-rotate-left" style="color: #8a8e93;"></i>
    Back to all restaurants
  <% end %>
</div>
